@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-surface: #f9f9f9;
  --color-on-background: #2d3435;
  --color-primary: #566342;
  --color-primary-container: #dae8be;
  --color-on-primary-container: #4a5636;
  --color-secondary: #546073;
  --color-secondary-container: #d7e3fa;
  --color-tertiary: #526448;
  --color-tertiary-container: #ddf2ce;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f4;
  --color-surface-container: #ebeeef;
  --color-surface-container-high: #e4e9ea;
  --color-surface-container-highest: #dde4e5;
  --color-on-surface: #2d3435;
  --color-on-surface-variant: #5a6061;
  --color-outline-variant: #adb3b4;
  
  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
